/**
* set padding to make room for bootstrap menu
*/
body {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* need to set the height for objects
* set top padding to make room for selection toolbar
*/
div.qvobject, div.qvplaceholder {
    padding: 20px 10px 10px 10px;
    height: 400px;
}

.container {
    width:100%;
    margin-left: 10px;
    margin-right: 10px;
}

.div-one-row {
    overflow: hidden;
    white-space: nowrap;
}

.inline { 
    display: inline-block; 
}
/* change padding of subtitle */
h2.qv-object-subtitle.qvt-visualization-subtitle.ng-binding {
    padding:0;
}
.kpi-data > div.measure-wrapper > div.measure-title.ellips-text > span.ng-binding {
    font-size: 16px;
}

/* loading animation */
html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #333 url('assets/img/loading.gif') no-repeat 50% 50%;
    background-size: 80px 80px;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}
/* end of loading animation */