﻿
/*=====================================
  NAVBAR STYLES 
    ===================================*/


#menu {
     background-color:#FFCC99;
   
}

/*=====================================
  HEADERS STYLES 
    ===================================*/


.header-sec .overlay{
     background-color:#FFCC99;
}

 


/*=====================================
  FOOTER STYLES 
    ===================================*/

 .myfooter {
    background-color:#FF9900;
}