﻿/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    
}


h2 {
    padding-top:50px;
    text-transform: uppercase;  
    padding-bottom:20px;  
    color:#000;
}
h3 {
    padding-top:30px;
     padding-bottom:40px;
     text-align:center;
     font-weight:900;
     text-transform:uppercase;
}
section {
    padding-top:30px;
    padding-bottom:40px;
}
.just-pad {
    padding-bottom:50px;
    padding-top:80px;
}

p {
    padding:10px 0px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
     max-height:30px
}
#menu {
    background-color:#ffa64d;
    color:#fff;
    font-size:16px;
    font-weight:900;
    letter-spacing:1px;
   
}
.navbar-inverse {
border-color:transparent;
}
.navbar-inverse .navbar-nav > li > a,.navbar-inverse .navbar-nav > li > a:hover {
color: #FFF;
}

.home-mail {
    font-size:12px; 
    font-weight:normal;
    padding-left:5px;
}
/*=====================================
  HEADERS STYLES 
    ===================================*/


.header-sec {
  
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/head.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
 color:#fff;
 background-attachment:fixed;
}
.header-sec .overlay{
    background:rgba(8, 134, 74, 0.90);
min-height: 500px;
}
    .header-sec h2 {
        color:#fff;
        padding-top:150px;
    }


  /*=====================================
  CONTACT STYLES 
    ===================================*/
.contact {
    font-size:20px;
    line-height:35px;
	height:100%;
	width:100%;
}
 /*=====================================
  FOOTER STYLES 
    ===================================*/

 .myfooter {
    background-color:#ffa64d;
    padding:5px 40px 5px 40px;
    color:#fff;
    font-size:16px;
    text-align:right;
}